*.manifest
*.testlog
*.dll
*.cache
*.pdb
*.exe
UntypedSharp/.vs/ProjectEvaluation/
UntypedSharp/.vs/ProjectEvaluation/untypedsharp.metadata.v6.1
UntypedSharp/.vs/ProjectEvaluation/untypedsharp.metadata.v6.1
UntypedSharp/.vs/ProjectEvaluation/untypedsharp.metadata.v6.1
UntypedSharp/.vs/ProjectEvaluation/untypedsharp.metadata.v6.1
*.pdb
*.v2
*.vsidx
/UntypedSharp/UntypedSharp/bin/Debug/net7.0/UntypedSharp.deps.json
/UntypedSharp/UntypedSharp/bin/Debug/UntypedSharp.1.0.0.nupkg
/UntypedSharp/UntypedSharp/bin/Debug/UntypedSharp.1.0.0.symbols.nupkg
/UntypedSharp/UntypedSharp/obj/Debug/net6.0/UntypedSharp.GeneratedMSBuildEditorConfig.editorconfig
/UntypedSharp/UntypedSharp/obj/UntypedSharp.csproj.nuget.dgspec.json
/UntypedSharp/UntypedSharp/obj/project.nuget.cache
/UntypedSharp/UntypedSharp/obj/project.assets.json
/UntypedSharp/UntypedSharp/obj/Debug/UntypedSharp.1.0.0.symbols.nuspec
/UntypedSharp/UntypedSharp/obj/Debug/UntypedSharp.1.0.0.nuspec
/UntypedSharp/UntypedSharp/obj/Debug/net7.0/UntypedSharp.GlobalUsings.g.cs
/UntypedSharp/UntypedSharp/obj/Debug/net7.0/UntypedSharp.GeneratedMSBuildEditorConfig.editorconfig
/UntypedSharp/UntypedSharp/obj/Debug/net7.0/UntypedSharp.csproj.FileListAbsolute.txt
/UntypedSharp/UntypedSharp/obj/Debug/net7.0/UntypedSharp.csproj.BuildWithSkipAnalyzers
/UntypedSharp/UntypedSharp/obj/Debug/net7.0/UntypedSharp.AssemblyInfo.cs
/UntypedSharp/UntypedSharp/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/xunit.runner.visualstudio.dotnetcore.testadapter.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/xunit.runner.utility.netcoreapp10.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/xunit.runner.reporters.netcoreapp10.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/xunit.execution.dotnet.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/xunit.core.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/xunit.assert.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/xunit.abstractions.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/UntypedSharp.Tests.runtimeconfig.json
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/UntypedSharp.Tests.pdb
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/UntypedSharp.Tests.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/UntypedSharp.Tests.deps.json
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/UntypedSharp.pdb
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/UntypedSharp.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/testhost.exe
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/testhost.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/NuGet.Frameworks.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/Newtonsoft.Json.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.Common.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/Microsoft.TestPlatform.Utilities.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/Microsoft.TestPlatform.PlatformAbstractions.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/Microsoft.TestPlatform.CrossPlatEngine.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/Microsoft.TestPlatform.CoreUtilities.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/Microsoft.TestPlatform.CommunicationUtilities.dll
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/CoverletSourceRootsMapping
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net7.0/UntypedSharp.Tests.runtimeconfig.json
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net7.0/UntypedSharp.Tests.deps.json
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net7.0/CoverletSourceRootsMapping
/UntypedSharp/UntypedSharp.Tests/obj/Debug/net6.0/ref/UntypedSharp.Tests.dll
/UntypedSharp/UntypedSharp.Tests/obj/Debug/net6.0/refint/UntypedSharp.Tests.dll
/UntypedSharp/UntypedSharp.Tests/obj/Debug/net6.0/UntypedSharp.Tests.pdb
/UntypedSharp/UntypedSharp.Tests/obj/Debug/net6.0/UntypedSharp.Tests.genruntimeconfig.cache
/UntypedSharp/UntypedSharp.Tests/obj/Debug/net6.0/UntypedSharp.Tests.GeneratedMSBuildEditorConfig.editorconfig
/UntypedSharp/UntypedSharp.Tests/obj/Debug/net6.0/UntypedSharp.Tests.dll
/UntypedSharp/UntypedSharp.Tests/obj/Debug/net6.0/UntypedSharp.Tests.csproj.FileListAbsolute.txt
/UntypedSharp/UntypedSharp.Tests/obj/Debug/net6.0/UntypedSharp.Tests.csproj.CoreCompileInputs.cache
/UntypedSharp/UntypedSharp.Tests/obj/Debug/net6.0/UntypedSharp.Tests.csproj.CopyComplete
/UntypedSharp/UntypedSharp.Tests/obj/Debug/net6.0/UntypedSharp.Tests.csproj.AssemblyReference.cache
/UntypedSharp/UntypedSharp.Tests/obj/Debug/net6.0/UntypedSharp.Tests.assets.cache
/UntypedSharp/UntypedSharp.Tests/obj/Debug/net6.0/UntypedSharp.Tests.AssemblyInfoInputs.cache
/UntypedSharp/UntypedSharp.Tests/obj/Debug/net6.0/UntypedSharp.Tests.AssemblyInfo.cs
/UntypedSharp/UntypedSharp.Tests/obj/Debug/net7.0/UntypedSharp.Tests.GeneratedMSBuildEditorConfig.editorconfig
/UntypedSharp/UntypedSharp.Tests/obj/Debug/net7.0/UntypedSharp.Tests.csproj.FileListAbsolute.txt
/UntypedSharp/UntypedSharp.Tests/obj/Debug/net7.0/UntypedSharp.Tests.csproj.CopyComplete
/UntypedSharp/UntypedSharp.Tests/obj/Debug/net7.0/UntypedSharp.Tests.csproj.BuildWithSkipAnalyzers
/UntypedSharp/UntypedSharp.Tests/obj/Debug/net7.0/UntypedSharp.Tests.AssemblyInfo.cs
/UntypedSharp/UntypedSharp.Tests/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/UntypedSharp/UntypedSharp.Tests/obj/UntypedSharp.Tests.csproj.nuget.dgspec.json
/UntypedSharp/UntypedSharp.Tests/obj/project.nuget.cache
/UntypedSharp/UntypedSharp.Tests/obj/project.assets.json
/UntypedSharp/UntypedSharp.Tests/bin/Debug/net6.0/UntypedSharp.Tests.pdb
/UntypedSharp/.vs/ProjectEvaluation/untypedsharp.projects.v6.1
/UntypedSharp/.vs/ProjectEvaluation/untypedsharp.metadata.v6.1
/UntypedSharp/.vs/UntypedSharp/FileContentIndex/d72029ca-da0b-4f22-9839-9eb071e20829.vsidx
/UntypedSharp/.vs/UntypedSharp/FileContentIndex/a46063bc-f71e-4867-9b29-4aa960cb5a46.vsidx
/UntypedSharp/.vs/UntypedSharp/FileContentIndex/8bd6c404-3364-45f2-86d5-1578b4139edf.vsidx
/UntypedSharp/.vs/UntypedSharp/FileContentIndex/64f36554-715c-4322-bc0d-b9b33a342387.vsidx
/UntypedSharp/.vs/UntypedSharp/DesignTimeBuild/.dtbcache.v2
/UntypedSharp/.vs/UntypedSharp/v17/TestStore/0/testlog.manifest
/UntypedSharp/.vs/UntypedSharp/v17/TestStore/0/004.testlog
/UntypedSharp/.vs/UntypedSharp/v17/.suo
/UntypedSharp/.vs/UntypedSharp/v17/.futdcache.v2
